
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");



*{
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    font-family: "Baloo Bhaina 2", cursive;
    font-family: "Roboto", sans-serif;
}

.navbar {
    width: 100vw;
    height: 80px;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: space-between;
}

/* Sec-1 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navs1{
    /* border: 1px solid black; */
    width: 15vw;
    height: 80px;
    display: flex;
    align-items: center;
    margin-left: 3.5vw;
}
.navs1 img{
    /* border: 1px solid black; */
    width: 3vw;
    height: 3vw;
    border-radius: 10vw;
}
.span1{
    margin-left: 1vw;
    font-size: 2em;
    font-weight: bold;
    color: #7D41E2;
}
.span2{
    font-size: 2em;
    font-weight: bolder;
    color: #7D41E2;
}






/* Sec-2 ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.navs2{
    /* border: 1px solid black; */
    width: 25vw;
    height: 80px;
    display: flex;
    align-items: center;
    margin-right: 1vw;
    justify-content: space-between;
    margin-right: 80px;
}
.navs2>img{
    border: 2px solid rgb(100, 9, 185);
    width: 50px;
    height: 50px;
    margin: 0 0.5vw;
    border-radius: 50%;
}
.navbtn1{
    height: 40px;
    width: 85px;
    margin: 0 0.5vw;
    border: none;
    border-radius: 0.3vw;
    border: 1px solid #2a95f6;
    background-color: white;
    font-size: 0.7em;
    cursor: pointer;
    font-size: medium;
    font-style: bold;
    transition: transform .4s; 

}
.navbtn1:hover {
    transform: scale(1.1); 
  }
.navbtn2{
    height: 40px;
    /* width: 85px; */
    /* margin: 0 1.3vw; */
    cursor: pointer;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.3vw;
    border: 1px solid #2a95f6;
    font-size: medium;
    background-color: #f76f07;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform .4s;

}
.navbtn2:hover {
    transform: scale(1.1); 
}
.navbtn2>img{
    border: 1px solid black;
    width: 1vw;
    height: 1vw;
/* margin: 0 0.5vw; */
}
.navbtn2 span{
    margin-left: 0.3vw;
}

.s1btn1{
    transition: transform .4s;

}
.s1btn1:hover {
    transform: scale(1.1); 
}
