:root{
    --element-color: black;
    --element1-color:rgba(0, 0, 0, 0.5);
    --element2-color:rgba(0, 0, 0, 0.8);

}


.sec2{
    /* border: 2px solid red; */
    height: 50rem;
    
}

.sec2buttons{
    width: 20rem;
    margin-left: 9rem;
    

}
.sec2btn2{
    cursor: pointer;
    height: 3rem;
    width: 7rem;
    margin: 0 1.5rem;
    border-radius: 20px;
    border: none;
    border: 1px solid #ff765d;
    background-color: white;
    margin: 0 1vw;
    font-size: 0.8em;
    color: black;
}
.sec2btn2-recent:hover{
    color: #fff;
    background-color: #ff765d;
}
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
.sec2content{
    /* border: 1px solid black; */
    width: 90vw;
    height: 35rem;
    margin-top: 3.5rem;
    display: flex;
    /* align-items: center; */
    flex-direction: row;
    margin-left: 5vw;
    
}
.sec2content>img{
    height: 23rem;
    width: 29rem;
    object-fit: fill;
    margin: 2rem 5rem;
    border-radius: 30px;
}

.s2text{
    /* border: 1px solid green; */
    height: 23vw;
    width: 45vw;
    margin-top: 1.5rem;
    /* margin: 0 3vw; */
}
.div{
    margin: 1rem 0;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 0.9em;
    line-height: 30px;
     color: var(--element1-color)}

   .s2text{
      overflow: scroll;
   }  
.s2text h1{
    margin: 1vw 0;
    font-size: 1.8em;
    width: 30rem;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    line-height: 42px;
    color: var(--element-color);
}
.s2text p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 1.2em;
    line-height: 30px;
    color: var(--element-color);

}
.author{
    display: flex;
    align-items: center;
    margin-top: 1.5vw;
}
.author>img{
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
}
.authorsname{
    margin-left: 1vw;
}



@media(max-width:1000px)
{
    
    .sec2content>img{
        height: 30rem;
        width: 30rem;
    }
}

@media(max-width:1250px)
{
    .sec2content{
        flex-direction: column;
        align-items: center;
    }
    .s2text
    {
        height: 20rem;
        width: 30rem;

    }
    div.name.namestyle{
        font-size: 1rem;
    }
    div.date.datestyle{
        font-size: 1rem;
    }
    .sec2content>img{
        height: 20rem;
        width: 30rem;
    }
}

@media(max-width:700px)
{
    .sec2content>img{
        height: 20rem;
        width: 20rem;
    }
    .s2text
    {
        height: 30rem;
        width: 20rem;

    }
   
}