
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;700&display=swap');
:root{
    --element-color: black;
    --element1-color:rgba(0, 0, 0, 0.5);
    --element2-color:rgba(0, 0, 0, 0.8);
}


.sec3{
    /* border: 2px solid red; */
    height: 62vw;
    display: flex;
    justify-content: center;
}
.s3boxes{
    /* border: 1px solid black; */
    height: 26vw;
    width: 90vw;
    display: flex;
    margin-left: 6vw;
    margin-bottom: 3vw;
}
.mainContainer{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}
.box1{
    /* border: 1px solid green; */
    padding-bottom: 7vw;
    height: 27vw;
    width: 25vw;
    margin: 0 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
}
.box1>img{
    
    height: 15vw;
    width: 22.5vw;
    object-fit: fill;
    /* margin: 0.5vw; */
    border-radius: 0.5vw;
    
}

.flex{
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    margin: auto;
}


.flex a{
    color: black;
    text-decoration: none;
}

.boxtext{
    /* border: 1px solid green; */
    height: 11vw;
    width: 24vw;
    margin-left: 1.6vw;
}
.boxdiv{
    margin: 0.4vw 0;
    font-size: 0.70em;
    color: var(--element1-color);
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
.boxtext h1{
    margin: 0.5vw 0;
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 600;
    color: var(--element-color);
    font-size: 1.5em;
}
.boxContent{
    font-size: 12px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    color: var(--element2-color);
}
.author{
    display: flex;
    align-items: center;
    margin-top: 1vw;
    padding-bottom: 1vw;
}
.boxauthor{
    display: flex;
    margin-top: 0.5vw;

}
.boxauthor>img{
    height: 3vw;
    width: 3vw;
    border-radius: 10vw;
}
.boxauthorsname{
    margin-left: 1vw;
    font-size: 0.8vw;
}
.namestyle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.8vw;
    line-height: 15px;
    color: var(--element-color);
}
.datestyle{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 0.6vw;
    line-height: 18px;
    color: var(--element1-color);
}