.footer {
  background-color: #7333df;
  color: #ffffff;
  padding: 20px 0;
}

.footer h3 {
  margin-bottom: 10px;
}

.footer .icons img {
  width: 30px;
  margin-right: 10px;
}

.footer .box2email {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.footer .email {
  flex: 1;
  margin-right: 10px;
}

.footer .contact-info {
  margin-top: 10px;
}

.footer .contact-info a {
  color: #ffffff;
}